.html,
.header {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-raleway {
color:#2e2f42 ;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.54px;
}

.page-list-link {
color: #2E2F42;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px; 
}

.page-list-link:hover, 
.page-list-link:focus {
color: #404bbf;
}

.address {
font-style: normal;
}

.address-link {
color: #434455; 
font-family: Roboto;
font-size: 16px;
font-style: normal; 
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px; 
}

.address-link:hover,
.address-link:focus {
 color: #404bbf;
}

.section{
background-color: #2E2F42;
}

.section-header {
    color: #ffffff;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px; 
}

.button {
color: #ffffff;
background-color: #4D5AE5 ;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px; 
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.section1-list-header {
    color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px; 
}

.section1-list-paragraph {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px; 
}

.section1-header {
    color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize; 
}

.section1-menu-header {
    color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px; 
}

.section1-menu-paragraph {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px; 
}

.section2-header {
    color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize; 
}

.section2-menu-header {
    color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px; 
}

.section2-menu-paragraph {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px; 
}

.footer-paragraph {
    color: #F499FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px; 
}